* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --body-color: hsl(0,0%,95%);
    --border-color: hsla(0, 0%, 20%, 0.3);
    --submit-btn-background-color: hsl(122, 39%, 50%);
    --submit-btn-color: #fff;
    --gradient-color1 : hsl(210, 100%, 75%);
    --gradient-color2 : hsl(40, 100%, 75%);
    --shadow-color: hsl(0, 0%, 0%, 0.5);
    --text-color: hsl(0, 0%, 0%, 0.75);
    
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm {
    margin: 20px;
}
.cityInput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: var(--submit-btn-background-color) ;
    color: var(--submit-btn-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: hsl(122, 39%, 40%); ;
}

.card {
    background: linear-gradient(180deg,var(--gradient-color1),var(--gradient-color2));
    padding: 50px;
    box-shadow: 2px 2px 5px var(--shadow-color);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

h1 {
    margin-top: 0;
    margin-bottom: 25px;
}

p {
    font-size: 1.5rem;
    margin: 5px 0;
}

.cityDisplay, .tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 25px;
}

.humidityDisplay {
    font-weight: bold;
    margin-bottom: 25px;
}
.descDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weatherEmoji {
    margin: 0;
    font-size: 7.5rem;
}

.errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-color);
}
