:root {
    --body-color: #282c34;
    --drum-color: #3b3b5f;
    --pad-color: #444444;
    --button-and-hover-color: #ffaa33;
    --text-color: #ffffed;
    --input-color: #555555
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--body-color);
    color: var(--text-color);
}

#drum-machine {
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--drum-color);
    border-radius: 8px;
}

#pad-bank {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-bottom: 20px;
}

#display {
    background-color: var(--pad-color);
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    margin:15px 0
}

input[type="checkbox"] {
    appearance: none;
    background-color: #555555;
    width: 50px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    border-radius: calc(20px / 2);
    background-color: var(--button-and-hover-color);
}
.bank-button::before {
    left: 30px !important;
}

.power-button:checked::before {
    left: calc(100% - 20px);
}

.drum-pad {
    display: flex;
    width: 70px;
    height: 70px;
    background-color: var(--pad-color);
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.power-control,
.bank-control  {
    display: flex;
    justify-content: space-between;
}